<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FAF9F6">
    <title>TUMyum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
        .page {
            display: none;
        }

        .page-active {
            display: block;
        }

        .stars {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .stars>div {
            cursor: pointer;
        }

        body {
            background-color: #FAF9F6;
        }

        .back-button {
            width: 40px !important;
            height: 40px !important;
        }

        #logo {
            font-family: 'Russo One', sans-serif;
            font-size: 60px;
        }
        .fullHeight {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }
        html {
            height: -webkit-fill-available;
        }
    </style>
</head>

<body>
    <!-- Page 1: Mensa Selection -->
    <div id="page1" class="page container page-active">
        <div class="h-100 d-flex flex-column" style="max-height: 100vh; max-height: -webkit-fill-available;">
            <h1 class="text-center pt-4 pb-2" id="logo"><span class="text-primary">TUM</span><span
                    class="text-warning">yum</span></h1>
            <h3 class="p-2 text-center">📍 Wähle einen Standort</h2>
                <div class="overflow-auto flex-grow-1 rounded border mb-3">
                    <div class="list-group-flush" id="canteens">
                        <!-- Canteens will be added here once fetched -->
                    </div>
                </div>
        </div>
    </div>

    <!-- Page 2: Dish Selection -->
    <div id="page2" class="page container">
        <div class="h-100 d-flex flex-column" style="max-height: 100vh; max-height: -webkit-fill-available;">
            <div class="d-flex py-3">
                <button class="btn btn-primary rounded-circle m-2 back-button" onclick="goBack()">←</button>
                <div class="flex-grow-1 m-2 text-wrap text-center">
                    <p class="flex-grow-1 h5 mb-1" id="canteen"></p>
                    <p class="text-secondary text-center m-0" id="current-date">Heute,&nbsp;</p>
                </div>
            </div>
            <div class="overflow-auto flex-grow-1 rounded border mb-3">
                <div class="list-group-flush" id="meals">
    
                    <!-- Canteens will be added here once fetched -->
                </div>
            </div>
        </div>
    </div>

    <!-- Page 3: Review Submission -->
    <div id="page3" class="page container fullHeight">
        <div class="h-100 d-flex flex-column align-items-center justify-content-between fullHeight">
            <div class="d-flex py-3">
                <button class="btn btn-primary rounded-circle m-2 back-button" onclick="goBack()">←</button>
                <span class="flex-grow-1 m-2 ml-3 text-wrap text-center h5" id="dishName"></span>
            </div>
            <div class="stars d-flex justify-content-around text-warning">
                <div class="p-3 h1" id="star1">☆</div>
                <div class="p-3 h1" id="star2">☆</div>
                <div class="p-3 h1" id="star3">☆</div>
                <div class="p-3 h1" id="star4">☆</div>
                <div class="p-3 h1" id="star5">☆</div>
            </div>
            <div class="text-center mb-4" id="resultDiv">
                <button class="btn btn-lg btn-primary px-5 py-2" id="submitButton">Absenden</button>
            </div>
        </div>
    </div>

    <script>
        var currentpage = 1
        var activeCanteen
        var activeDish

        fetch('https://tum-dev.github.io/eat-api/enums/canteens.json')
            .then(result => result.json())
            .then(canteens => {
                const canteenList = document.getElementById('canteens')

                canteens.forEach(canteen => {
                    const entry = document.createElement('button')
                    entry.className = 'list-group-item list-group-item-action text-wrap py-3'
                    entry.innerText = canteen['name']
                    entry.id = canteen['canteen_id']
                    canteenList.appendChild(entry)
                    entry.onclick = function () {
                        activeCanteen = entry.id
                        document.getElementById('canteen').innerText = '📍 ' + entry.innerText
                        nextPage();
                    };
                });
            })

        function goBack() {
            currentpage -= 2
            nextPage()
        }

        function nextPage() {
            let pages = document.getElementsByClassName('page');
            for (let i = 0; i < pages.length; i++) {
                pages[i].classList.remove('page-active');
            }
            currentpage++
            let page = document.getElementById('page' + currentpage);
            page.classList.add('page-active');

            if (currentpage == 2) {
                getDishes()
            }
            else if (currentpage == 3) {
                document.getElementById("dishName").innerText = activeDish
            }
        }

        async function getRating(name, parentID) {
            fetch(`api/getRating/?name=${name}`)
                .then(result => result.json())
                .then(data => {
                    let rating = data.rating
                    if (rating) {
                        rating = Math.round(rating)
                        const parent = document.getElementById(parentID)
                        for (let i = 1; i <= 5; i++) {
                            i > rating ? parent.innerHTML += "<h2>☆</h2>" : parent.innerHTML += "<h2>★</h2>"
                        }
                    }
                })
                .catch(error => {
                    console.error()
                })
        }
        function getDishes() {
            let date = new Date()
            let week = getWeekNumber(date)
            const dateFormatted = `${date.getFullYear()}-${date.getMonth().toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
            document.getElementById("current-date").innerText += `${date.getDate().toString().padStart(2, '0')}.${date.getMonth().toString().padStart(2, '0')}.${date.getFullYear()}`
            fetch(`https://tum-dev.github.io/eat-api/${activeCanteen}/${date.getFullYear()}/${week}.json`)
                .then(response => response.json())
                .then(jsonresponse => jsonresponse['days'].filter(entry => entry["date"] === dateFormatted))
                .then(today => {
                    const mealList = document.getElementById("meals")
                    mealList.innerHTML = ""
                    console.log(today.length)
                    if (today.length == 0) {
                        mealList.innerHTML = `
                            <div class="text-center list-group-item">
                                Keine Gerichte verfügbar
                            </div>`
                        return;
                    }
                    const mainCourses = today[0]['dishes'].filter(dish => dish["dish_type"] != "Beilagen")

                    mainCourses.forEach(async (meal, index) => {
                        const entry = document.createElement('button')
                        entry.className = 'list-group-item list-group-item-action border'
                        let price = meal.prices.students.price_per_unit + "€/100g"
                        if (meal.prices.students.base_price) {
                            price += ` + ${meal.prices.students.base_price}€`
                        }
                        const icon = meal.labels.includes("VEGAN") ? "🫑" :
                            meal.labels.includes("VEGETARIAN") ? "🥕" :
                                meal.labels.includes("MEAT") ? "🍖" : "🍽️"

                        entry.innerHTML = `
                            <div class="row align-items-center">
                                <div class="col-2 pr-0 h1">${icon}</div>
                                <div class="col-10 h5 py-2 text-wrap">
                                    <h5>${meal.name}</h5>
                                    <div class="text-secondary">${price}</div>
                                </div>
                                <div class="d-flex justify-content-start text-warning vw-100 mx-3" id="rating${index}">
                                </div>
                            </div>`
                        getRating(meal.name, `rating${index}`)
                        entry.className = 'list-group-item list-group-item-action text-wrap'
                        entry.onclick = function () {
                            activeDish = meal.name
                            nextPage()
                        }
                        mealList.appendChild(entry)
                    })
                })
        }

        function getWeekNumber(date) {
            date = new Date(date);
            date.setHours(0, 0, 0, 0);
            date.setDate(date.getDate() + 4 - (date.getDay() || 7));
            const yearStart = new Date(date.getFullYear(), 0, 1);
            const weekNumber = Math.ceil((((date - yearStart) / 86400000) + 1) / 7);
            return weekNumber;
        }
    </script>
    <script>
        let currentRating = 0;
        for (let i = 1; i <= 5; i++) {
            let $star = $('#star' + i)
            $star.click((e) => {
                e.preventDefault();
                currentRating = i
                for (let j = 1; j <= 5; j++) {
                    if (j > i) {
                        $('#star' + j).text('☆')
                    } else {
                        $('#star' + j).text('★')
                    }
                }
            })
        }
        $('#submitButton').click((e) => {
            e.preventDefault();
            $('#submit').text("Sending ...")
            const data = {
                name: activeDish,
                rating: currentRating
            }
            console.log(data)
            fetch('/api/postRating/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network error: ' + response.statusText);
                    }
                    return response.json()
                })
                .then(data => {
                    $('#resultDiv').text(data.message)
                })
                .catch(error => {
                    $('#resultDiv').text("Fehler")
                })
        })
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>