{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FAF9F6">
    <title>TUMyum</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .page {
            display: none;
        }

        .page-active {
            display: block;
        }

        .navbar-brand {
            width: 100%;
            text-align: center;
        }

        .star-rating {
            font-size: 1.5em;
            color: orange;
        }

        .dish-img {
            width: 50px;
            height: auto;
        }

        body {
            background-color: #FAF9F6;
        }
    </style>
</head>

<body>
    <!-- Page 1: Mensa Selection -->
    <div id="page1" class="page container page-active">
        <div class="h-100 d-flex flex-column" style="max-height: 100vh;">
            <img src="" alt="Logo">
            <h3 class="p-2 text-center">📍 Wähle einen Standort</h2>
                <div class="overflow-auto flex-grow-1 rounded border mb-3">
                    <div class="list-group-flush" id="canteens">
                        <!-- Canteens will be added here once fetched -->
                    </div>
                </div>
        </div>
    </div>

    <!-- Page 2: Dish Selection -->
    <div id="page2" class="page container">
        <div class="h-100 d-flex flex-column" style="max-height: 100vh;">
            <div class="container-fluid d-flex py-3">
                <button class="btn btn-primary rounded-circle px-3 m-1" onclick="goBack()">←</button>
                <span class="flex-grow-1 m-3 text-wrap text-center h5" id="canteen"></span>
            </div>
            <div class="overflow-auto flex-grow-1 rounded border mb-3">
                <div class="list-group-flush" id="meals">
                    <!-- Canteens will be added here once fetched -->
                    <div class="list-group-item list-group-item-action border">
                        <div class="row align-items-start">
                            <div class="col">icon</div>
                            <div class="col">text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page 3: Review Submission -->
    <div id="page3" class="page container">
        <h1 class="navbar-brand container-fluid text-wrap">Schweinelachssteak mit Pfefferrahmsoße und Kartoffelpüree
        </h1>
        <div>
            <p>Wie fandest du dein Essen?</p>
            <span class="star-rating">★★★★★</span>
            <button class="btn btn-primary" onclick="">absenden</button>
        </div>
    </div>

    <script>
        var currentpage = 1
        var activeCanteen

        fetch('https://tum-dev.github.io/eat-api/enums/canteens.json')
            .then(result => result.json())
            .then(canteens => {
                const canteenList = document.getElementById('canteens')

                canteens.forEach(canteen => {
                    const entry = document.createElement('button')
                    entry.className = 'list-group-item list-group-item-action text-wrap'
                    entry.innerText = canteen['name']
                    entry.id = canteen['canteen_id']
                    canteenList.appendChild(entry)
                    entry.onclick = function () {
                        activeCanteen = entry.id
                        document.getElementById('canteen').innerText = '📍 ' + entry.innerText
                        nextPage();
                    };
                });
            })

        function goBack() {
            currentpage -= 2
            nextPage()
        }

        function nextPage() {
            let pages = document.getElementsByClassName('page');
            for (let i = 0; i < pages.length; i++) {
                pages[i].classList.remove('page-active');
            }
            currentpage++
            let page = document.getElementById('page' + currentpage);
            page.classList.add('page-active');

            if (currentpage == 2) {
                getDishes()
            }
        }

        async function getRating(name) {
            let result;
            await fetch(`api/getRating/?name=${name}`)
            .then(result => {
                result.json()
            })
            .then(data => {
                result = data.rating
            })
            .catch(error => {
                result = 0
            })
            return result;
        }

        function getDishes() {
            let date = new Date()
            let week = getWeekNumber(date)
            const dateFormatted = `${date.getFullYear()}-${date.getMonth().toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
            fetch(`https://tum-dev.github.io/eat-api/${activeCanteen}/${date.getFullYear()}/${week}.json`)
                .then(response => response.json())
                .then(jsonresponse => jsonresponse['days'].filter(entry => entry["date"] === "2023-11-14")) //TEST DATE
                .then(today => {
                    const mealList = document.getElementById("meals")
                    // mealList.innerHTML = ""
                    const mainCourses = today[0]['dishes'].filter(dish => dish["dish_type"] != "Beilagen")
                    mainCourses.forEach(async (meal) => {
                        const entry = document.createElement('button')
                        const rating = await getRating(meal['name'])
                        entry.className = 'list-group-item list-group-item-action text-wrap'
                        entry.innerText = meal['name']
                        mealList.appendChild(entry)
                    })
                })
        }

        function getWeekNumber(date) {
            date = new Date(date);
            date.setHours(0, 0, 0, 0);
            date.setDate(date.getDate() + 4 - (date.getDay() || 7));
            const yearStart = new Date(date.getFullYear(), 0, 1);
            const weekNumber = Math.ceil((((date - yearStart) / 86400000) + 1) / 7);
            return weekNumber;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>